@charset "UTF-8";
body {
  max-width: 700px;
  width: 100%;
  margin: 0 auto !important;
}

.inner {
  background-image: url(../img/site-bg.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.wrap {
  text-align: center;
  font-family: 'A-OTF Ryumin Pro';
  padding-top: 80px;
}

.wrap-ttl {
  color: #B08024;
  font-size: 2.8rem;
}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.fixed {
  position: fixed;
  top: 20px;
  right: 30px;
}

@media screen and (min-width: 700px) {
  .fixed {
    right: calc(50% - 315px);
  }
}

.menu-btn {
  z-index: 2;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #333;
  color: #fff;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #555;
}

.menu__item {
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*----------------------------
* アニメーション部分
*----------------------------*/
/* アニメーション前のメニューの状態 */
.menu {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

/* アニメーション後のメニューの状態 */
.menu.is-active {
  pointer-events: auto;
  opacity: 1;
}

header {
  background-color: #fff;
  max-width: 700px;
}

.header {
  width: 100%;
  height: 85px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}

.header__wrapper p {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Arial';
  padding-left: 15px;
}

@media screen and (max-width: 440px) {
  .header__wrapper p {
    font-size: 1.8rem;
  }
}

.header__main-img-sp {
  /* background-image: url(../img/shibuya-maintop.png);
  background-position: center;
  background-size: cover; */
  width: 100%;
  max-width: 700px;
  height: 400px;
}

.count {
  margin: 30px auto 0;
  max-width: 569px;
  background-color: rgba(216, 204, 175, 0.8);
  text-align: center;
  border: 1px solid #7C411E;
  padding-top: 10px;
}

.count p {
  font-size: 1.8rem;
}

.count .time {
  background-color: #000;
  color: #fff;
  width: 143px;
  margin: 0 auto;
}

.count__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0px 14px;
}

.count__box-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 21px;
}

.count__box-counter img {
  width: 28px;
  height: 86px;
  padding-top: 10px;
}

.count__box-counter .sex {
  font-size: 2rem;
}

.count__box-counter-item {
  padding-left: 10px;
}

.count__box-counter-item .underline {
  border-bottom: 1px solid #4d4d4d;
  width: 110px;
}

@media screen and (max-width: 375px) {
  .count__box-counter-item .underline {
    width: 100px;
  }
}

.count__box .centerline {
  border-left: 1px solid #4d4d4d;
  height: 107px;
}

.count__box .for-men .sex {
  color: #0B0146;
}

.count__box .for-woman .sex {
  color: #C2000B;
}

.count__box .person {
  font-size: 40px;
  color: #000;
}

.count__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid #7C411E;
  padding: 9px 12px;
}

.count__bottom-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.count__bottom-item a img {
  vertical-align: top;
}

.count__bottom-item a p {
  color: #7C411E;
  font-size: 2rem;
  padding-left: 8px;
}

.event__container {
  margin-top: 40px;
}

.event__container-content .btn {
  width: 100%;
  max-width: 980px;
  padding: 16px 32px;
  text-align: right;
}

.event__container-content .btn a {
  padding-right: 10px;
  color: #000;
}

.event__container-content .btn__text {
  color: #000;
  font-size: 18px;
  position: relative;
  display: inline-block;
}

.event__container-content .btn__text::after {
  content: '';
  position: absolute;
  left: 40%;
  bottom: 0px;
  /*線の上下位置*/
  display: inline-block;
  width: 115px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #000;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

.event__container-content .btn .triangle-line {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.event__container-content .btn .triangle-line::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -25px;
  border-left: 16px solid #000;
  border-top: 7px solid transparent;
}

.system {
  padding-bottom: 77px;
}

.system .btn {
  width: 100%;
  max-width: 980px;
  padding: 16px 32px;
  text-align: right;
}

.system .btn a {
  padding-right: 10px;
  color: #000;
}

.system .btn__text {
  color: #000;
  font-size: 18px;
  position: relative;
  display: inline-block;
}

.system .btn__text::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  /*線の上下位置*/
  display: inline-block;
  width: 240px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #000;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

.system .btn .triangle-line {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.system .btn .triangle-line::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -25px;
  border-left: 16px solid #000;
  border-top: 7px solid transparent;
}

.system__container {
  background-image: url(../img/system__bg.png);
  background-position: center;
  background-size: cover;
  margin: 83px auto 0;
  padding: 36px 30px;
}

.system__container-content {
  font-size: 2rem;
  text-align: center;
}

.system__container-content-title {
  text-align: center;
  display: inline-block;
  background-color: #fff;
  font-size: 2.2rem;
  width: 172px;
}

.system__container-content .woman {
  border: 1px #F882BF solid;
  padding: 10px 33px;
  margin-bottom: 40px;
}

.system__container-content .man {
  border: 1px #80CFE3 solid;
  padding: 10px 46px;
  margin-bottom: 40px;
}

.system__container-content-list {
  padding-bottom: 40px;
}

.system__container-content-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px #000 solid;
  margin-bottom: 15px;
}

.system__container-content-list ul li {
  padding: 10px 14px;
}

@media screen and (max-width: 425px) {
  .system__container-content-list ul li {
    padding: 8px 0;
  }
}

.system__container-content-list ul li span {
  font-size: 1.5rem;
}

.system__container-content-list-box {
  padding: 2px 16px;
  border: #000 1px solid;
  max-width: 90px;
  overflow: hidden;
  text-align: center;
}

.system__container-content-list .black {
  background-color: #000;
  color: #fff;
}

.system__container-content-list .gold {
  background: -webkit-gradient(linear, left top, right top, from(#826625), color-stop(#DFD777), to(#826625));
  background: linear-gradient(to right, #826625, #DFD777, #826625);
}

.system__banner {
  margin: 0 auto;
  max-width: 609px;
  width: 100%;
}

.system__banner img {
  padding: 10px 0;
}

.info__container .btn {
  width: 100%;
  max-width: 980px;
  padding: 16px 32px;
  text-align: right;
}

.info__container .btn a {
  padding-right: 10px;
  color: #000;
}

.info__container .btn__text {
  color: #000;
  font-size: 18px;
  position: relative;
  display: inline-block;
}

.info__container .btn__text::after {
  content: '';
  position: absolute;
  left: 40%;
  bottom: 0px;
  /*線の上下位置*/
  display: inline-block;
  width: 115px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: #000;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

.info__container .btn .triangle-line {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info__container .btn .triangle-line::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -25px;
  border-left: 16px solid #000;
  border-top: 7px solid transparent;
}

.info__container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__container-box-content {
  padding: 15px;
}

.info__container-box-content a img {
  max-width: 610px;
  max-height: 410px;
  width: 100%;
}

.sns__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.sns__container-content img {
  padding-top: 7px;
}

.access {
  margin: 0 auto;
  max-width: 460px;
  width: 100%;
}

.access__container-content {
  border-left: 1px solid #000;
  padding: 31px 0 37px;
  margin: 80px 0 40px 15px;
  max-width: 460px;
}

.access__container-content-ttl {
  text-align: center;
  font-size: 2rem;
}

.access__container-content .line-item {
  border-bottom: 1px solid #000;
  position: relative;
  top: 0;
  left: -16px;
  max-width: 460px;
}

.access__container-content .line-items {
  padding-top: 3px;
  border-bottom: 4px solid #000;
  position: relative;
  top: 0;
  left: -16px;
  max-width: 460px;
}

.access__container-content-text {
  font-size: 1.4rem;
  padding-top: 27px;
}

.access__container-content-text .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.access__container-content-text .about {
  width: 23%;
  text-align: center;
}

.series {
  background-image: url(../img/store-bg.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 20px;
}

.series__container {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 375px) {
  .series__container {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.series__container-content {
  width: 45%;
  margin: 12px;
}

@media screen and (max-width: 425px) {
  .series__container-content {
    margin: 6px;
  }
}

@media screen and (max-width: 375px) {
  .series__container-content {
    width: 100%;
    margin-bottom: 30px;
  }
}

.series__container-content-boxes {
  border: 1px solid #0B0146;
}

.series__container-content-boxes .btn {
  width: 100%;
  max-width: 980px;
  padding: 8px 12px;
  border: #B08024;
  background: radial-gradient(#B08024 10%, #7E5516, #7E5516);
  border-radius: 2px;
  text-align: right;
}

.series__container-content-boxes .btn__text {
  font-size: 1.6rem;
}

.series__container-content-boxes .btn a {
  color: #fff;
}

.series__container-content-boxes img {
  vertical-align: bottom;
  width: 100%;
  height: 250px;
}

@media screen and (max-width: 425px) {
  .series__container-content-boxes img {
    height: 160px;
  }
}

@media screen and (max-width: 375px) {
  .series__container-content-boxes img {
    height: 250px;
  }
}

.series__container-content .person-counter {
  margin-top: 30px;
  background-color: #fff;
  max-width: 568px;
}

.series__container-content .person-counter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 3px solid #B08024;
  padding: 8px;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .series__container-content .person-counter__box {
    padding: 10px 5px 5px;
  }
}

@media screen and (max-width: 375px) {
  .series__container-content .person-counter__box {
    padding: 10px 25px;
  }
}

@media screen and (min-width: 426px) {
  .series__container-content .person-counter__box {
    padding: 14px 8px 8px;
  }
}

.series__container-content .person-counter__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.series__container-content .person-counter__box-item img {
  max-width: 100%;
  width: 20px;
  height: 50px;
}

@media screen and (max-width: 375px) {
  .series__container-content .person-counter__box-item img {
    width: 25px;
    height: 70px;
  }
}

.series__container-content .person-counter__box-items {
  padding-left: 8px;
}

@media screen and (max-width: 425px) {
  .series__container-content .person-counter__box-items {
    padding-left: 5px;
  }
}

.series__container-content .person-counter__box-items .underline {
  border-bottom: 1px solid #4d4d4d;
  width: 100%;
}

.series__container-content .person-counter__box-items .person {
  font-size: 1.8rem;
  color: #666666;
}

@media screen and (max-width: 375px) {
  .series__container-content .person-counter__box-items .person {
    font-size: 30px;
  }
}

.series__container-content .person-counter__box .centerline {
  border-left: 1px solid #4d4d4d;
  height: 60px;
  margin: 4px 12px 5px 15px;
}

@media screen and (max-width: 425px) {
  .series__container-content .person-counter__box .centerline {
    height: 45px;
  }
}

@media screen and (min-width: 426px) {
  .series__container-content .person-counter__box .centerline {
    height: 45px;
  }
}

@media screen and (max-width: 375px) {
  .series__container-content .person-counter__box .centerline {
    height: 63px;
  }
}

@media screen and (max-width: 425px) {
  .series__container-content .person-counter__box .sex {
    font-size: 10px;
  }
}

@media screen and (max-width: 375px) {
  .series__container-content .person-counter__box .sex {
    font-size: 1.8rem;
  }
}

.series__container-content .person-counter__box .for-men .sex {
  color: #0B0146;
}

.series__container-content .person-counter__box .for-woman .sex {
  color: #C2000B;
}

footer {
  text-align: center;
  padding: 6px;
  background: -webkit-gradient(linear, left top, right top, from(#826625), color-stop(#DFD777), to(#826625));
  background: linear-gradient(to right, #826625, #DFD777, #826625);
}

footer img {
  width: 46px;
  height: 55px;
  vertical-align: bottom;
}
/*# sourceMappingURL=shibuya.css.map */