$Fonts : #B08024;

body {
  max-width: 700px;
  width: 100%;
  margin: 0 auto !important;
}

.inner {
  background-image: url(../img/site-bg.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  z-index: 1;
}

.wrap {
  text-align: center;
  font-family: 'A-OTF Ryumin Pro';
  padding-top: 80px;
  &-ttl {
    color: $Fonts;
    font-size: 2rem;
  }
}


header {
  background-color: #fff;
  max-width: 700px;
}

.header {
  width: 100%;
  height: 85px;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px ;
    img {
      width: 50px;
      height: 50px;
    }
    p {
      font-size: 2.4rem;
      font-weight: bold;
      font-family: 'Arial';
      padding-left: 15px;
      @media screen and(max-width: 440px) {
        font-size: 1.8rem;
      }
    }
  }
  &__main-img-sp {
    // background-image: url(../img/shibuya-maintop.png);
    // background-position: center;
    // background-size: cover;
    width: 100%;
    max-width: 700px;
    height: 500px;
  }
}

.count {
  margin: 30px auto 0;
  max-width: 569px;
  background-color: rgba(216, 204, 175, 0.8);
  // background-color: #D8CCAF;
  // opacity: 0.8;
  text-align: center;
  border: 1px solid #7C411E;
  padding-top: 10px;
  p {
    font-size: 1.8rem;
  }
  .time {
    background-color: #000;
    color: #fff;
    width: 143px;
    margin: 0 auto;
  }
    &__box {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0px 14px;
      &-counter {
        display: flex;
        text-align: center;
        padding-top: 21px;
        img {
          width: 28px;
          height: 86px;
          padding-top: 10px;
        }
        .sex {
          font-size: 2rem;
        }
        &-item {
          padding-left: 10px;
          .underline {
            border-bottom: 1px solid #4d4d4d;
            width: 110px;
            // display: block;
            @media screen and(max-width: 375px) {
              width: 100px;
            }
          }
        }
      }
    .centerline {
      border-left: 1px solid #4d4d4d;
      height: 107px;
    }
    .for-men .sex {
      color: #0B0146;
    }
    .for-woman .sex {
      color: #C2000B;
    }
    .person {
      font-size: 40px;
      color: #000;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid #7C411E;
    padding: 9px 12px;
    &-item {
      a {
        display: flex;
        justify-content: center;
        img {
          vertical-align: top;
        }
        p {
          color: #7C411E;
          font-size: 2rem;
          padding-left: 8px;
        }
      }
    }
  }
}

.event {
  &__container {
    margin-top: 40px;
    &-content {
      .btn {
        width: 100%;
        max-width: 980px;
        padding: 16px 32px;
        text-align: right;
        a {
          padding-right: 10px;
          color: #000;
        }
        &__text {
          color: #000;
          font-size: 18px;
          // border-bottom: 1px solid #fff;
          position: relative;
          display: inline-block;
          &::after {
            content: '';
            position: absolute;
            left: 40%;
            bottom: 0px;/*線の上下位置*/
            display: inline-block;
            width: 115px;/*線の長さ*/
            height: 1px;/*線の太さ*/
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);/*位置調整*/
            background-color: #000;/*線の色*/
            border-radius: 2px;/*線の丸み*/
        }
      }
        .triangle-line {
          position: relative;
          // border-top: 2px solid #fff;
          box-sizing: border-box;
        }
        .triangle-line::after{
          content: "";
          position: absolute;
          bottom: 0px;
          right: -25px;
          border-left: 16px solid #000;
          border-top: 7px solid transparent;
        }
      }
    }
  }
}

.system {
  padding-bottom: 77px;
  .btn {
    width: 100%;
    max-width: 980px;
    padding: 16px 32px;
    text-align: right;
    a {
      color: #000;
    }
    &__text {
      color: #000;
      font-size: 18px;
      // border-bottom: 1px solid #fff;
      position: relative;
      display: inline-block;
      &::after {
        content: '';
        position: absolute;
        left: 53%;
        bottom: 0px;/*線の上下位置*/
        display: inline-block;
        width: 220px;/*線の長さ*/
        height: 1px;/*線の太さ*/
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);/*位置調整*/
        background-color: #000;/*線の色*/
        border-radius: 2px;/*線の丸み*/
    }
  }
    .triangle-line {
      position: relative;
      // border-top: 2px solid #fff;
      box-sizing: border-box;
    }
    .triangle-line::after{
      content: "";
      position: absolute;
      bottom: 0px;
      right: -25px;
      border-left: 16px solid #000;
      border-top: 7px solid transparent;
    }
  }
  &__container {
    background-image: url(../img/system__bg.png);
    background-position: center;
    background-size: cover;
    margin: 83px auto 20px;
    padding: 36px 30px;
    &-content {
      // max-width: 95%;
      font-size: 2rem;
      text-align: center;
      // margin: 36px auto 45px;

      &-title {
        text-align: center;
        display: inline-block;
        background-color: #fff;
        font-size: 2.2rem;
        width: 172px;
      }
      .woman {
        border:1px #F882BF solid;
        padding: 10px 33px;
        margin-bottom: 40px;
        color: #F882BF;
      }
      .man {
        border: 1px #80CFE3 solid;
        padding: 10px 46px;
        margin-bottom: 40px;
        color: #80CFE3;
      }
      &-list{
        padding-bottom: 40px;
        font-weight: bold;
        ul {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px #000 solid;
          margin-bottom: 15px;
          @media screen and(min-width: 426px) {
            justify-content: space-around;
          }
          li {
            padding: 10px 14px;
            @media screen and(max-width: 425px) {
              padding: 8px 0;
              font-size: 1.8rem;
            }
            @media screen and(min-width: 426px) {
              font-size: 2rem;
            }
            .last {
              font-size: 1.6rem;
              @media screen and(max-width: 425px) {
                font-size: 1.8rem;
              }
            }
          }
          li span {
            font-size: 1.5rem;
          }
          .g-text {
            color: $Fonts;
          }
        }
        &-box {
          padding: 2px 16px;
          border: #000 1px solid;
          max-width: 90px;
          overflow: hidden;
          text-align: center;
        }
        .black {
          background-color: #000;
          color: #fff;
        }
        // グラデーション
        .gold {
          background: linear-gradient(to right, #826625, #DFD777, #826625);
        }
      }
    }
  }
  &__banner {
    margin: 0 auto;
    max-width: 609px;
    width: 100%;
    img {
      padding: 10px 0;
    }
  }
}

.gallery {
  &__container {
    li {
      img {
        @media screen and(max-width:426px) {
          width: 334px;
          height: 226px;
        }
        @media screen and(min-width: 768px) {
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}

.info {
  &__container {
    .btn {
      width: 100%;
      max-width: 980px;
      padding: 16px 32px;
      text-align: right;
      a {
        padding-right: 10px;
        color: #000;
      }
      &__text {
        color: #000;
        font-size: 18px;
        // border-bottom: 1px solid #fff;
        position: relative;
        display: inline-block;
        &::after {
          content: '';
          position: absolute;
          left: 40%;
          bottom: 0px;/*線の上下位置*/
          display: inline-block;
          width: 115px;/*線の長さ*/
          height: 1px;/*線の太さ*/
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);/*位置調整*/
          background-color: #000;/*線の色*/
          border-radius: 2px;/*線の丸み*/
      }
    }
      .triangle-line {
        position: relative;
        // border-top: 2px solid #fff;
        box-sizing: border-box;
      }
      .triangle-line::after{
        content: "";
        position: absolute;
        bottom: 0px;
        right: -25px;
        border-left: 16px solid #000;
        border-top: 7px solid transparent;
      }
    }
    &-box {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      &-content {
        padding: 15px;
        &-ttl {
          font-size: 2rem;
          font-weight: bold;
          padding: 20px 0;
          @media screen and(max-width: 425px) {
            font-size: 1.6rem;
          }
        }
        a {
          img {
            max-width: 610px;
            max-height: 410px;
            width: 100%;
  
          }
        }
      }
    }
  }
}


.sns {
  &__container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    &-content {
      .line-text {
        padding-top: 14px;
      }
      img {
        padding-top: 7px;
      }
      @media screen and(max-width: 375px) {
        width: 40%;
        padding: 10px;
      }
    }
  }
}



.access {
  margin: 0 auto;
  max-width: 460px;
  width: 100%;
  &__container {
    &-content {
      border-left: 1px solid #000;
      padding: 31px 0 37px;
      margin: 80px 0 40px 15px;
      max-width: 460px;
      &-ttl {
        text-align: center;
        font-size: 2rem;
      }
      .line-item {
        border-bottom: 1px solid #000;
        position: relative;
        top: 0;
        left: -16px;
        max-width: 460px;
      }
      .line-items {
        padding-top: 3px;
        border-bottom: 4px solid #000;
        position: relative;
        top: 0;
        left: -16px;
        max-width: 460px;

      }
      &-text {
        font-size: 1.4rem;
        padding-top: 27px;
        .flex {
          display: flex;
          margin: 0 auto;
        }
        .about {
          width: 23%;
          text-align: center;
        }
      }
    }
  }
}


.series {
  background-image: url(../img/store-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  &__container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    @media screen and(max-width:375px) {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    &-content {
      width: 45%;
      margin: 12px;
      @media screen and(max-width: 425px) {
        margin: 6px;
      }
      @media screen and(max-width: 375px) {
        width: 100%;
        margin-bottom: 30px;
      }
      &-boxes {
        border: 1px solid #0B0146;
        .okayama-shop {
          background-image: url(../img/okayama-shop.jpg);
          background-size: cover;
          // transform:rotate(90deg);
        }
        .ayame-shop {
          background-image: url(../img/ayame-shop.png);
          background-size: contain;
          // object-fit: cover;
          background-color: #fff;
        }
        &-shop {
          background-position: center;
          background-repeat: no-repeat;
          // min-width: 160px;
          width: 100%;
          height: 160px;
          position: relative;
          &-items {
            position: absolute;
            top: 55px;
            left: 5%;
            width: 100%;
            @media screen and(min-width: 430px) {
              top: 30%;
              left: 20%;
            }
            .shop-ttl {
              display: flex;
              // justify-content: space-around;
              align-items: flex-end;
              width: 100%;
              p:first-child {
                font-size: 2.8rem;
              }
              p:last-child {
                font-size: 1.3rem;
                padding-right: 10px;
                padding-left: 15%;
              }
            }
            .center-line {
              width: 155px;
              border-bottom: 1px solid #fff;
              @media screen and(min-width: 426px) {
                max-width: 200px;
                width: 80%;
              }
              @media screen and(max-width: 375px) {
                width: 180px;
              }
            }
            p, .center-line {
              color: #fff;
              font-family: 'A-OTF Ryumin Pro';
            }
            p:last-child {
              padding-left: 10px;
            }
          }
        }
        .btn {
          width: 100%;
          max-width: 980px;
          padding: 8px 12px;
          border: $Fonts;
          background: linear-gradient(to right, #7E5516, #B08024, #7E5516);
          border-radius: 2px;
          text-align: right;
          &__text {
            font-size: 1.6rem;
          }
          a {
            color: #fff;
          }
        }
      }

      .person-counter {
        margin-top: 30px;
        background-color: #fff;
        max-width: 568px;
        &__box {
          display: flex;
          justify-content: space-around;
          border: 3px solid $Fonts;
          padding: 8px;
          width: 100%;
          @media screen and(max-width: 425px) {
            padding: 10px 5px 5px;
          }
          @media screen and(max-width: 375px) {
            padding: 10px 25px;
          }
          @media screen and(min-width: 426px) {
            padding: 14px 8px 8px;
          }
          &-item {
            display: flex;
            text-align: center;
            // width: 50%;
            img {
              max-width: 100%;
              width: 20px;
              height: 50px;
              @media screen and(max-width: 375px) {
                width: 25px;
                height: 70px;
              }
            }
          }
          &-items {
            padding-left: 8px;
            @media screen and(max-width: 425px) {
              padding-left: 5px;
            }
            .underline {
              border-bottom: 1px solid #4d4d4d;
              width: 100%;
            }
            .person {
              font-size: 1.4rem;
              color: #666666;
              @media screen and(max-width: 375px) {
                font-size: 30px;
              }
            }
          }
          .centerline {
            border-left: 1px solid #4d4d4d;
            height: 60px;
            margin: 4px 12px 5px 15px;
            @media screen and(max-width:425px) {
              height: 45px;
            }
            @media screen and(min-width: 426px) {
              height: 45px;
            }
            @media screen and(max-width: 375px) {
              height: 63px;
            }
          }
          .sex {
            @media screen and(max-width: 425px) {
              font-size: 10px;
            }
            @media screen and(max-width: 375px) {
              font-size: 1.8rem;
            }
          }
          .for-men .sex {
            color: #0B0146;
          }
          .for-woman .sex {
            color: #C2000B;
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 6px;
  background: linear-gradient(to right, #7E5516, #B08024, #7E5516);
  img {
    width: 46px;
    height: 55px;
    vertical-align: bottom;
  }
}